<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spike.backend.mapper.BookMapper">
    <update id="updateBook">
        UPDATE book
        <set>
            <if test="book_name!=null">
                book_name=#{book_name},
            </if>
            <if test="book_author!=null">
                book_author=#{book_author},
            </if>
            <if test="book_category!=null">
                book_category=#{book_category},
            </if>
            <if test="book_publisher!=null">
                book_publisher=#{book_publisher}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>
    <select id="findByPage" resultType="com.spike.backend.model.Book">
        select * from book where book_name LIKE #{bookName} limit #{pageSize}, #{pageNum}
    </select>
</mapper>
